    {% extends 'app/base.html' %}
    {% load static %}
    {% block title %}About{% endblock title %}

    {% block main-content %}
        <div class="container mt-3">
            <br>
            <h2 class="text-center">Contact Us</h2>
            <br>
            <div class="row container">
                <p class="fs-4 text-center">Address:abcdefg</p>
                <p class="fs-4 text-center">Contact:9874512105</p>
                <p class="fs-4 text-center">Address:ecomics@gmail.com</p>
            </div>
        </div>
    {% endblock main-content %}